<!DOCTYPE html>
<html>
<head>
    <%- helmet.title.toString() %>
    <%- helmet.meta.toString() %>
    <%- helmet.link.toString() %>
    <link rel='stylesheet' type='text/css' href='/css/app.min.css' />
</head>

<body>
    <main id="app">
        <%- html %>
    </main>

    <script>
        var __initialState__ = <%- initialState %>;
    </script>
    <script src="/js/app.build.js"></script>
</body>
</html>