@import "compass/css3";

.column {
    .content {
        padding: 1rem;
        text-align: center;
        border: 10px solid #fff;
        background: #eee;
        @include box-shadow( rgba(0,0,0, 0.7) 1px 1px 4px );
    }
}