@import "compass/css3";

#folder {
    .column {
        .content {
            @include box-shadow( rgba(0,0,0, 0.7) 1px 1px 4px );
        }
    }
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
    position: relative;
    top: 2px;
    cursor: pointer;
    vertical-align: middle;
    @include opacity(0);
}

input[type="checkbox"] + label {
    pointer-events: none;
    &:before {
        content: '';
        width: 14px;
        height: 14px;
        background-color: #0c4d78;
        position: absolute;
        top: 5px;
        left: 0;
    }
    &:after {
        display: none;
    }
}
input[type="checkbox"]:checked + label {
    &:after {
        content: '';
        display: inline-block;
        width: 10px;
        height: 10px;
        vertical-align: middle;
        cursor: pointer;
        background-color: $primary-color;
        position: absolute;
        top: 7px;
        left: 2px;
    }
}

label {
    vertical-align: middle;
    font-size: 1rem;
}

.filters {
    text-align: center;
    margin-top: 10px;
    li {
        display: inline-block;
        position: relative;
        &:first-child {
            margin-right: 15px;
        }
    }
}

details {
    padding: .85em 1em;
    margin: 0 0 1rem;
}


summary::-webkit-details-marker {
    display: none;
}

summary {
    background: $primary-color;
    color: #fefefe;
    &::-webkit-details-marker {
        display: none;
    }
    &:after {
        border-radius: 5px;
        content: "+";
        color: #fff;
        float: left;
        font-size: 1.5em;
        font-weight: bold;
        margin: -5px 10px 0 0;
        padding: 0;
        text-align: center;
        width: 20px;
    }

    &.button {
        margin: 0;
    }
}

details[open] summary:after {
    content: "-";
}

.logs {
    border: 1px solid $dark-gray;
    background: #f9f9f9;
    box-sizing: border-box;
    text-align: left;
    details {
        width: 100%;
        float: left;
        margin-bottom: 10px;
        display: none;
        margin: 0;
        padding: 0;

        &:after {
            content: '';
            position: relative;
            width: 75%;
            height: 1px;
            background: $secondary-color;
            margin: 0 auto;
        }

        &.exception, &.error {
            summary {
                background-color: #fce6e2;
                &::-webkit-details-marker {
                    color: #7C0400;
                }
            }
        }
        &.log {
            summary {
                background-color: $light-gray;
            }
        }
        &.warning {
            summary {
                background-color: #fff3d9;
                &::-webkit-details-marker {
                    color: #D3923C;
                }
            }
        }
    }

    summary {
        padding: 1rem;
        border-top: 1px solid rgba(10, 10, 10, 0.25);
        font-weight: bold;
        color: $black;

        &::-webkit-details-marker {
            display: inline-block;
        }
        &:after {
            content: '';
            display: none;
        }
    }

    &.log-visible {
        details.log {
            display: block;
        }
    }

    &.warning-visible {
        details.warning {
            display: block;
        }
    }

    &.error-visible {
        details.error, details.exception {
            display: block;
        }
    }

    .button {
        margin: 0;
    }
}

code {
    font-family: monospace;
    color: #333;
    background-color: #C0C0C0;
    display: inline-block;
}