
@import "foundation";

@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;

@import "compass/css3";

@import "_home.scss";
@import "_report.scss";

ul {
    list-style-type: none;
}

ul.breadcrumb {
    height: auto;
    margin-top: 40px;
    li {
        display: inline-block;
        padding: 0 10px;

        &:before {
            content: '>';
            position: relative;
            left: -10px;
            top: -1px;
            color: $dark-gray;
        }

        a {
            color: $medium-gray;
            text-decoration: none;
            &:hover, &:focus {
                color: $dark-gray;
                text-decoration: underline;
            }
        }

        &:first-child {
            padding-left: 0;
            &:before {
                content: '';
            }
        }
        &:last-child {
            a {
                color: $dark-gray;
                text-decoration: underline;
                pointer-events: none;
            }
        }
    }
}

header {
    padding: 1rem;
    background: $primary-color;
    width: 100%;
    height: 54px;
    position: fixed;
    top: 0;

    h1 {
        font-size: 2rem;
        color: #fff;
        text-transform: uppercase;
        font-weight: lighter;
    }
    .top-bar-left {
        float: left;
    }
    .top-bar-right {
        float: right;
        li {
            float: left;
        }
    }
}

html, body, main {
    min-height: 100%;
}

section {
    min-height: 100%;
    padding-top: 54px;
    padding-bottom: 90px;
    box-sizing: border-box;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0px;
    background: $light-gray;
    padding: 1rem;
}


@media screen and (min-width: 1025px) and (max-width: 1200px) {
    html {
        font-size: 12px;
    }
}
@media screen and (min-width: 1201px) and (max-width: 1400px) {
    html {
        font-size: 14px;
    }
}
@media screen and (min-width: 1401px) {
    html {
        font-size: 16px;
    }
}

// mobile
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    html {
        font-size: 14px;
    }
}
// tablet
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    html {
        font-size: 16px;
    }
}